<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Pantry</title>
</head>
<body>
    <%- include('../partials/_navbar.js') %>
    <h1>Welcome to My Pantry!</h1>
    <a href="/users/<%=user._id%>/foods/new">Add a New Food!</a>
    <h2>Current Pantry: </h2>
    <ul>
        <% if (pantry.length === 0) { %>
            <p>There are currently no items in your pantry!</p>
    <% } else {pantry.forEach((food) => { %> 
        <li>
              <p> <%= food.name %> </p>
              <p>
            <a href="/users/<%= user._id%>/foods/<%=food._id%>/edit">Edit Food Item</a>
                </p>
            <form action="/users/<%= user._id %>/foods/<%= food._id%>?_method=DELETE" method="POST">
            <button type = "submit">Delete Food Item</button>
             </form>
        </li>
        <% });} %>
    </ul>
</body>
</html>